
<div class="footer bg-color">
  <div class="footer-main">
    <div class="link">
      <a href="https://gitee.com/anmen-expo">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <!-- <a href="mailto:1730241541@qq.com">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a> -->
      <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=2507301541">
        <i class="fa fa-qq" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/v42225078" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-copyright">
      Copyright © 2021 黑ICP备2021004203号-1 | Powered by <a href="https://hexo.io/zh-cn/docs/">Hexo</a> 
    </div>
    <!-- 不蒜子统计 -->
    <% if(theme.busuanzi.on === true ) { %>
      <%- partial('_partial/busuanzi') %>
    <% } %>
  </div>
</div>
